* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabeza  {
  background-color: #9B9B9B;
  padding: 15px;
      width: 100%;
      background: linear-gradient(
          to bottom, 
          #474747 10%,  /* Color oscuro al inicio (10% de la altura) */
          #6e6e6e 50%,  /* Se va aclarando al 50% */
          #6b6b6b00 100%    /* Totalmente transparente al 100% */
          );
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
      to bottom, 
      #6b6b6b9f 10%,  /* Marrón oscuro al inicio */
      #6b6b6b56 50%,  /* Marrón medio */
      rgb(194, 149, 106)   /* Marrón claro */
  ) !important;
  background-attachment: fixed;
}

.container {
  margin: 40px auto;
  padding: 30px;
  height: 550px;
  border: 2px solid #ddd;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
  text-align: center;
}

.pie {
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

.foot{

  text-align: left;
  margin-top: auto;
  position: absolute;
  margin-top: -5px;
  width: 100%;
  height: 65px; /* Ajusta según necesites */
  
  background: linear-gradient(
      to top, 
      rgb(78, 60, 43) 10%,  /* Marrón oscuro con 90% opacidad */
      rgba(148, 113, 80, 0.986) 50%,  /* Marrón medio con 60% opacidad */
      rgba(194, 149, 106, 0) 100%  /* Marrón claro totalmente transparente */
  );
}

.barras {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barras2 {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

/* Encabezado */
header {
  background-color: #b0b2b3;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.logo img {
  height: 50px;
  position: absolute;
  right: 650px;
  margin-top: -10px;
}

.barra1, .barra2 {
  display: flex;
  gap: 10px;
}
.filter-btn {
  margin-left: 10px;
  font-family: Arial, sans-serif;
  padding: 5px 15px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.filter-btnusur {
  margin-left: 10px;
  font-family: Arial, sans-serif;
  padding: 5px 15px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.filter-btn:hover {
  background-color: rgb(245, 159, 61);
}

.filter-bcc {
  margin-left: 10px;
  font-family: Arial, sans-serif;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #765036;
  color: #fff;
  border: none;
}

.filter-bccselect {
  margin-left: 10px;
  font-family: Arial, sans-serif;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background-color: rgb(245, 159, 61);
  color: #fff;
  border: none;
}

.filter-bcc:hover {
  background-color: rgb(245, 159, 61);
}
.imgrafic{
  width: 350px;
  height: 350px;
  margin: 10px;
  display: flex;
}
.charts{
  width: 100px;
  height: 100px;
  gap: 10px;
  display: flex;
}
.abaj{
  color: white;
  margin: 20px;
  text-decoration: none;
}
.abaj:hover{
  color: rgb(245, 159, 61);
}