* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f0e8;
}

.pie {
    background-color: #7f6145;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.foot{
    background-color: #7f6145;
    text-align: left;
    margin-top: auto;
    position: absolute;
    margin-top: -5px;
}

.cabeza  {
    background-color: #9B9B9B;
    padding: 15px;
}

.barras {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra1, .barra2 {
    display: flex;
    gap: 10px;
}

.logo img {
    height: 50px;
    position: absolute;
    right: 650px;
    margin-top: -25px;
}
.usuario-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}


.filterbar {
    display: flex;
    margin-bottom: 10px;

}

.filter-btn,
.filter-btna,
.filter-busc,
.inven {
    font-family: Arial, sans-serif;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(39, 39, 39);
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 1.8s ease;
    text-decoration: none;
    border: none;
        background-color: rgb(231, 231, 231);
}

.fontcarr {
    font-family: Arial, sans-serif;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 1.8s ease;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    size: 100px;
}

.fontcarr:hover {
    background-color: rgb(185, 185, 185);
}

.filter-btn:hover {
    color: #000;
    transform: scale(1.05);

}

.filter-bccselect {
    margin-left: 10px;
    font-family: Arial, sans-serif;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(245, 159, 61);
    color: #fff;
    border: none;
}

.filter-bcc:hover {
    background-color: rgb(245, 159, 61);
}

.iconos .icono {
    font-size: 18px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.register {
    float: right;
        text-decoration: none;
    color: black;
}

.recuper {
    float: left;
        text-decoration: none;
    color: black;
}

.register:hover{
    color: orange;
}

.recuper:hover{
    color: orange;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #f9f9f9;
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
}

/* Formulario */
form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #765036;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #9b9b9b;
}

.buttons button:last-child {
    background-color: #6c757d;
}

.buttons button:last-child:hover {
    background-color: #6c6d6e;
}
.abaj {
    color: white;
    margin: 20px;
    text-decoration: none;
}
.abaj:hover {
    color: rgb(245, 159, 61);
}