* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f0e8;
}

.pie {
    background-color: #7f6145;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.foot{
    background-color: #7f6145;
    text-align: left;
    margin-top: auto;
    position: absolute;
    margin-top: -5px;
}

.cabeza  {
    background-color: #9B9B9B;
    padding: 15px;
}

.barras {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra1, .barra2 {
    display: flex;
    gap: 10px;
}

.logo img {
    height: 50px;
    position: absolute;
    right: 650px;
    margin-top: -25px;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}

.nav {
    display: flex;
    gap: 5px; 
}

.nav a {
    background-color: #765036;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
}

.bi-cart4 {
    margin-left: auto; 
    margin-right: 20px; 
}

.cart-btn {
    padding: 5px 15px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #765036;
}

.terms-container {
    flex: 1;
    padding: 20px;
}

.terms-container h1 {
    text-align: center;
    margin-bottom: 20px;
}